{% extends "base.html" %}
{% block title %}Lista de Aprendices{% endblock %}
{% block content %}
    <div class="contenido_la">
        <nav class="navla">
            <div class="t1">
            <h1>Aprendices SENA</h1>
            </div>
            <div class="navegacion">
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>                
                <li><a href="{% url 'aprendices' %}">Programas</a></li>
                <li><a href="{% url 'aprendices' %}">Contacto</a></li>
            </ul>
            </div>
        </nav>
    <section class="sectionla">
        {% if lista_aprendices %}
        <h2>Lista de Aprendices</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Documento de Identidad</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Ciudad</th>
                    <th>Programa</th>
            </tr>
            </thead>
            <tbody>
                {% for aprendiz in lista_aprendices %}
                <tr>
                    <td>{{ aprendiz.documento_identidad }}</td>
                    <td>{{ aprendiz.nombre }}</td>
                    <td>{{ aprendiz.apellido }}</td>
                    <td>{{ aprendiz.telefono }}</td>
                    <td>{{ aprendiz.correo }}</td>
                    <td>{{ aprendiz.fecha_nacimiento }}</td>
                    <td>{{ aprendiz.ciudad }}</td>
                    <td>{{ aprendiz.programa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'admin:aprendices_aprendiz_add' %}" class="btn_saveA">
                    Nuevo Aprendiz
                </a>
    </section>
</div>
{%endif%}
{% endblock%}